{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('navbar') }}
{% endblock %}

{% block body %}

<h1> On vous ecoute! </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Envoyer</button>
    {{ form_end(form) }}


{% endblock %}