*{
  padding: 0;
  margin: 0;
}



img {

  width: 100vw;
  height: 60vh;

}
h1{
  margin-top: -30%;
  margin-left: 41%;
  font-size: 3em;
  font-family: italic, serif;
}

h2{
  margin-left: 57%;
  font-size: 3em;
  font-family: italic, serif;
}

.image{
  margin-top: 30%;
  margin-left: 50%;
  width: 40vw;
  height: 40vh;
  border-radius: 90px;
}

.pg-home{
  background: #3f4e5e;
  width: 35vw;
  height: 12vh;
  margin-top: -12.5%;
  margin-left: 23%;
}

.pic{
  margin-top: 10%;
  margin-left: 10%;
  width: 40vw;
  height: 40vh;
  border-radius: 90px;
}

.pg-home1{
  background: #3f4e5e;
  width: 35vw;
  height: 12vh;
  margin-top: -12.5%;
  margin-left: 50%;
  font-family: italic, serif;
}

p{
  top: 30%;
}